<div>
  <h1 style="display: flex; justify-content: space-between">
    <span>Memory</span><button (click)="reset()">Reset</button>
  </h1>
  <h3>
    Moves: {{ moves }} - Found pairs = {{ foundCards.length / 2 }}/{{
      cards.length / 2
    }}
  </h3>
  <div class="grid" [style]="gridStyle">
    <app-memory-item
      class="card"
      *ngFor="let card of cards"
      [card]="card"
      [activeCards]="activeCards"
      (clickEvent)="clickHandler($event)"
      [foundCards]="foundCards"
    />
  </div>
</div>
