<div class="mb-3">
  <button class="btn btn-dark" (click)="toggleManualEntry()">
    <span *ngIf="manualEntry">
      <i class="me-2 bi bi-camera"></i>
      Use camera
    </span>
    <span *ngIf="!manualEntry">
      <i class="me-2 bi bi-input-cursor-text"></i>
      Enter manual
    </span>
  </button>
</div>

<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <app-create-token-camera (onCreate)="onCreate($event)" *ngIf="!manualEntry" />

    <app-create-token-form (onCreate)="onCreate($event)" *ngIf="manualEntry" />
  </div>
</div>
