body {
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.grid {
  display: grid;
  gap: 10px;
  width: 100%;
  grid-auto-rows: 1fr;
  position: relative;
}

.card {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: red;
  width: 100%;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}
