<div *ngIf="!foundOtp">
  <div *ngIf="isLoading">
    <div>Please allow the camera.</div>
    <app-loading-spinner />
  </div>
  <app-error-banner *ngIf="error" [message]="error"></app-error-banner>

  <app-camera-selector
    *ngIf="availableCameras.length >= 1"
    [availableCameras]="availableCameras"
    (cameraSelected)="handleCameraSelected($event)"
  ></app-camera-selector>

  <div class="rounded overflow-hidden mt-3">
    <zxing-scanner
      (camerasFound)="onCamerasFound($event)"
      (scanSuccess)="onSuccessfullScan($event)"
      [formats]="allowedFormats"
      [enable]="cameraEnabled"
      [device]="selectedCamera === null ? undefined : selectedCamera"
    ></zxing-scanner>
  </div>
</div>

<div *ngIf="foundOtp">
  {{ foundOtp.label }}
  <button (click)="onSubmit()" class="btn btn-primary">Add</button>
</div>
