.console-input {
  padding: 5px;
  margin: 0;
  overflow: hidden;
  line-height: 1em;
}

.cursor {
  position: absolute;
  display: inline-block;
  width: 1px;
  border-right: 1px white solid;
  height: 1em;
  line-height: 1em;
  animation: blink-animation 2s infinite;
  color: white;
}

.chevron {
  display: inline-block;

  margin-right: 0.2em; /* Adjust to match the spacing visually */
}

@keyframes blink-animation {
  0% {
    opacity: 0.1;
  }
  30% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
