* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  font-family: monospace;
  user-select: none !important;
  overflow: hidden;
}

main {
  width: 100lvw;
  height: 100lvh;
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  align-items: center;
}

.cli-container {
  width: 1200px;
  height: 600px;
}

.white-text {
  color: white !important;
}
